In [52]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

In [53]:
df = pd.read_csv(r'C:\Users\surface laptop\Desktop\Goods 1.csv')

In [54]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12223 entries, 0 to 12222
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   time_ref      12223 non-null  int64
 1   account       12223 non-null  object
 2   code          12223 non-null  object
 3   country_code  12213 non-null  object
 4   product_type  12223 non-null  object
 5   value         11690 non-null  float64
 6   status        12223 non-null  object
dtypes: float64(1), int64(1), object(5)
memory usage: 668.6+ KB

In [55]:
df.head()

   time_ref  account code country_code product_type        value status
0    202106  Exports    0           AE        Goods  246837046.0      F
1    202106  Exports    0           AF        Goods       9118.0      F
2    202106  Exports    0           AG        Goods     113843.0      F
3    202106  Exports    0           AI        Goods     129290.0      F
4    202106  Exports    0           AL        Goods       1370.0      F

In [56]:
df.describe()

            time_ref         value
count   12223.000000  1.169000e+04
mean   202067.809376  1.043103e+07
std        46.168921  2.615340e+08
min    202012.000000  1.000000e+00
25%    202012.000000  3.655000e+03
50%    202106.000000  3.851200e+04
75%    202106.000000  3.461320e+05
max    202106.000000  1.558938e+10

In [63]:
dfif country_code 
numbers = {'mynumbers': [AE,AF,AG,AI,AL,AM,AO,AR,AS,AT,AU,AW,AZ,BA,BB,BD,BE,BF,BG,BH,,BJ,BM,]},
df = DataFrame(numbers, columns =['mynumbers'])
 
df.loc[df['mynumbers'] == 'goods', == 'services'] = 'True'
df.loc[df['mynumbers'] != 'goods', '!= 'services'] = 'False'

SyntaxError: invalid syntax (<ipython-input-63-62535b3e6353>, line 1)

In [57]:
df.groupby(['country_code']).max()

              time_ref  account     code product_type        value status
country_code
AE              202106  Imports    A1209     Services  246837046.0      R
AF              202106  Imports  A120423     Services    1283422.0      R
AG              202106  Imports     9701        Goods     113843.0      F
AI              202106  Exports        0        Goods     129290.0      F
AL              202106  Imports  A120423     Services      71226.0      R
...                ...      ...      ...          ...          ...    ...
ZE              202106  Imports    A1209     Services  425044627.0      F
ZM              202106  Imports  A120423     Services     116308.0      R
ZP              202106  Exports        0        Goods    6680011.0      F
ZS              202106  Exports        0        Goods    4820723.0      F
ZW              202106  Imports  A120423     Services    1192428.0      R

[227 rows x 6 columns]

In [58]:
df['account'].unique()

array(['Exports', 'Imports'], dtype=object)

In [59]:
df['country_code'].value_counts().sum()

12213